/* general reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  overflow: hidden;
}

body {
  background-color: rgba(246, 189, 226, 0.25);
  width: 100vw;
  height: 100vh;
}

/* typography */
.title,
#counter {
  font-size: 3rem;
  font-weight: 800;
}
#counter {
  color: deeppink;
}
.btn {
  font-size: 1.3rem;
}

/* flexbox */
body,
#container,
.title,
#counter,
#buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* general styles */
#container {
  width: 90%;
  height: 90%;
}
.title,
#counter,
#buttons {
  width: 80%;
  max-width: 650px;
}
  .title {
    height: 20%;
  }
  #counter {
    height: 3em;
  }
  #buttons {
    min-width: 550px;
    height: 8em;
    flex-direction: row;
    justify-content: space-around;
  }
.btn {
  width: 8em;
  min-width: 150px;
  margin: 0.25em;
  background-color: transparent;
  outline: none;
  border: 4px solid deeppink;
  border-radius: 0.4em;
  padding: 0.5em;
  cursor: pointer;
}
  .btn:hover {
    background-color: deeppink;
    color: white;
  }

/* media query */
@media screen and (max-width: 639px) {
  #buttons {
    height: 16em;
    flex-direction: column;
  }
}
